<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NetSpider</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 注册servlet -->
    <servlet>
    	<servlet-name>servletCrawler</servlet-name>
    	<servlet-class>servlet.CrawlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>servletCrawler</servlet-name>
    	<url-pattern>/servletCrawler</url-pattern>
    </servlet-mapping>
</web-app>